<section class="box-bg  slide-in-right">
    <div class="content-box-bg">
        <h1 class="title-bg">Bem-vindo ao MDO PEX</h1>

        <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
            <div class="logo-bg-pex">
                <img class="img-fluid puff-in-center" src="/assets/images/logo-pex.png" alt="logo" />
            </div>

            <div class="logo-bg-mdo">
                <img class="img-fluid puff-in-center" src="/assets/images/logo-mdo.png" alt="logo" />
            </div>
        </div>
    </div>
</section>
