---
import Head from '@includes/Head.astro';
import BoxBg from './boxBg.astro';
import BoxForm from './boxForm.astro';

import '@styles/login.css'
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-login">
        <div class="p-4 d-flex w-100">
            <main class="wrapper-page shadow">
                <BoxForm />
                <BoxBg />
            </main>
        </div>
    </body>
</html>

<script is:inline>
    /*! --------------------------------------------------------------------
    * mostra senha
    * --------------------------------------------------------------------*/
    let btnShowAllPassword = document.querySelectorAll(".btn-showPass");

    btnShowAllPassword.forEach((item) => {
        item.addEventListener("click", () => {
            item.children[0].classList.toggle("bi-unlock");
            const inputPass = item.parentNode.children[0];
            const type =
                inputPass.getAttribute("type") === "password" ? "text" : "password";
            inputPass.setAttribute("type", type);
        });
    });
</script>
