---
import BtnAnexo from '../_components/BtnAnexo.astro'
import BtnVideo from '../_components/BtnVideo.astro'
import SelectPontos from '../_components/SelectPontos.astro'

const rows5s = [
    {
        item: "1- Tem controle do fluxo de caixa",
        descricao: "info",
        peso: "5,0%",
        pontos: "5",
    },
    {
        item: "2- Lança o faturamento a cada 24h, no mínimo",
        descricao: "info",
        peso: "4,0%",
        pontos: "4",
    },
    {
        item: "3- Estar com toda documentação em dia (cnpj próprio, inscrição estadual, contrato social, ficha cadastral, certificado digital, contrato de franquia)",
        descricao: "info",
        peso: "5,0%",
        pontos: "5",
    },
    {
        item: "4- Estar com o mdotech instalado e funcionando",
        descricao: "info",
        peso: "4,0%",
        pontos: "4",
    },
    {
        item: "5- Estar em dia com os pagamentos de impostos e com a franqueadora",
        descricao: "info",
        peso: "4,0%",
        pontos: "4",
    },
    {
        item: "6- Utilizar os canais oficiais para comunicação com a franqueadora (determinar o que é urgente e o que não é, para atendimento via chat)",
        descricao: "info",
        peso: "5,0%",
        pontos: "5",
    },
    {
        item: "7- Participa dos treinamentos de pre natal e bercçario",
        descricao: "info",
        peso: "4,0%",
        pontos: "4",
    },
    {
        item: "8- Realiza as ações previstas em plano de ação",
        descricao: "info",
        peso: "5,0%",
        pontos: "5",
    },
    {
        item: "9- O sistema está limpo e organizado (de clientes e funcionários)",
        descricao: "info",
        peso: "4,0%",
        pontos: "4",
    },
    {
        item: "10- Possui o quadro de gestão à vista e se a meta está bem disseminada ",
        descricao: "info",
        peso: "5,0%",
        pontos: "5",
    },
    {
        item: "11- Realizar pesquisa de satisfação com os clientes (ANALISAR)",
        descricao: "info",
        peso: "4,0%",
        pontos: "4",
    },
    {
        item: "12- Pelo menos um dos franqueados, de preferencia o operador, cocluido a ucm",
        descricao: "info",
        peso: "5,0%",
        pontos: "5",
    },
]
---

<div class="table-responsive" style="max-height: 500px">
    <table class="table table-bordered table-fixed small text-center fixThead table-grid" data-table="grid">
        <thead>
            <th style="width: 600px">Item</th>
            <th style="width: 080px">Adicionais</th>
            <th style="width: 070px">Peso</th>
            <th style="width: 070px">Pontos</th>
            <th style="width: 110px">Pontos Alcançado</th>
        </thead>

        <tbody>
            <tr class="aval-line-sub">
                <td colspan="2" class="text-start">Cod.</td>
                <td data-label="Peso">9,0%</td>
                <td data-label="Pontos">9</td>
                <td></td>
            </tr>
            {
                rows5s.map(({ item, descricao, peso, pontos }) => (
                    <tr>
                        <td class="text-start" data-label="Item">
                            <div class="text-data">{item}</div>
                        </td>

                        <td data-label="Adicionais">
                            <div class="text-data">
                                <ul class="list-add">
                                    <li>
                                        <div data-bs-toggle="tooltip-aval" data-bs-title={descricao}>
                                            <i class="bi bi-info-circle-fill text-secondary icon-tab fs-6"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <BtnAnexo />
                                    </li>

                                    <li>
                                        <BtnVideo />
                                    </li>
                                </ul>
                            </div>
                        </td>

                        <td data-label="Peso">
                            <div class="text-data">{peso}</div>
                        </td>
                        <td data-label="Pontos">
                            <div class="text-data">{pontos}</div>
                        </td>

                        <td data-label="Pontos Alcançado" class="selectTable">
                            <div class="text-data">
                                <SelectPontos />
                            </div>
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>

<script is:inline>
    window.addEventListener('load', () => {

        $('[data-bs-toggle="tooltip-aval"]').tooltip({
            html: true,
        })

        $('[data-bs-toggle="tooltip-aval"]').on('inserted.bs.tooltip',function () {
            var thisClass5 = $(this).attr("class");
            $('.tooltip-inner').addClass('tooltip-aval');
        });
    })

    let tableGrid = document.querySelector('[data-table="grid"]')

    function toogleFixHead() {
        if(window.innerWidth <= 768){
            tableGrid.classList.remove('fixThead')
            tableGrid.style.minWidth = 0
        }
        else {
            tableGrid.classList.add('fixThead')
        }
    }

    addEventListener('load', toogleFixHead)
    addEventListener('resize', toogleFixHead)
</script>
