/* ////////////////////////////////////////////////////////////////////
variables
class text color
class bg color

//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
variables
---------------------------------------------------------------------- */
:root{
    --color-red-300:   #f3525a;
    --color-red-400:   #bf0711;

    --color-yellow-300:#f5c662;
    --color-yellow-400:#ffaf02;

    --color-orange-300:#f8ac5a;
    --color-orange-400:#f68f24;

    --color-blue-300:  #56baf8;
    --color-blue-400:  #009cff;

    --color-green-300: #8dca52;
    --color-green-400: #008d00;

    --color-gray-300:  #b3b3b6;
    --color-gray-400:  #404041;
}

/* --------------------------------------------------------------------
class text color
---------------------------------------------------------------------- */
.text-red-300   { color: var(--color-red-300);}
.text-red-400   { color: var(--color-red-400);}

.text-yellow-300{ color: var(--color-yellow-300);}
.text-yellow-400{ color: var(--color-yellow-400);}

.text-orange-300{ color: var(--color-orange-300);}
.text-orange-400{ color: var(--color-orange-400);}

.text-blue-300  { color: var(--color-blue-300);}
.text-blue-400  { color: var(--color-blue-400);}

.text-green-300 { color: var(--color-green-300);}
.text-green-400 { color: var(--color-green-400);}

.text-gray-300  { color: var(--color-gray-300);}
.text-gray-400  { color: var(--color-gray-400);}

/* --------------------------------------------------------------------
class bg color
---------------------------------------------------------------------- */
.bg-red-300   { background-color: var(--color-red-300);}
.bg-red-400   { background-color: var(--color-red-400);}

.bg-yellow-300{ background-color: var(--color-yellow-300);}
.bg-yellow-400{ background-color: var(--color-yellow-400);}

.bg-orange-300{ background-color: var(--color-orange-300);}
.bg-orange-400{ background-color: var(--color-orange-400);}

.bg-blue-300  { background-color: var(--color-blue-300);}
.bg-blue-400  { background-color: var(--color-blue-400);}

.bg-green-300 { background-color: var(--color-green-300);}
.bg-green-400 { background-color: var(--color-green-400);}

.bg-gray-300  { background-color: var(--color-gray-300);}
.bg-gray-400  { background-color: var(--color-gray-400);}
